/* Created by Artisteer v4.0.0.58475 */

#my-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.my-hmenu
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.my-button
{
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #A1ADBA;
   background: transparent;
   border:1px solid #9CAFC4;
   padding:0 20px;
   margin:0 auto;
   height:28px;
}

.my-postcontent,
.my-postheadericons,
.my-postfootericons,
.my-blockcontent,
ul.my-vmenu a 
{
   text-align: left;
}

.my-postcontent,
.my-postcontent li,
.my-postcontent table,
.my-postcontent a,
.my-postcontent a:link,
.my-postcontent a:visited,
.my-postcontent a.visited,
.my-postcontent a:hover,
.my-postcontent a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.my-postcontent p
{
   margin: 13px 0;
}

.my-postcontent h1, .my-postcontent h1 a, .my-postcontent h1 a:link, .my-postcontent h1 a:visited, .my-postcontent h1 a:hover,
.my-postcontent h2, .my-postcontent h2 a, .my-postcontent h2 a:link, .my-postcontent h2 a:visited, .my-postcontent h2 a:hover,
.my-postcontent h3, .my-postcontent h3 a, .my-postcontent h3 a:link, .my-postcontent h3 a:visited, .my-postcontent h3 a:hover,
.my-postcontent h4, .my-postcontent h4 a, .my-postcontent h4 a:link, .my-postcontent h4 a:visited, .my-postcontent h4 a:hover,
.my-postcontent h5, .my-postcontent h5 a, .my-postcontent h5 a:link, .my-postcontent h5 a:visited, .my-postcontent h5 a:hover,
.my-postcontent h6, .my-postcontent h6 a, .my-postcontent h6 a:link, .my-postcontent h6 a:visited, .my-postcontent h6 a:hover,
.my-blockheader .t, .my-blockheader .t a, .my-blockheader .t a:link, .my-blockheader .t a:visited, .my-blockheader .t a:hover,
.my-vmenublockheader .t, .my-vmenublockheader .t a, .my-vmenublockheader .t a:link, .my-vmenublockheader .t a:visited, .my-vmenublockheader .t a:hover,
.my-headline, .my-headline a, .my-headline a:link, .my-headline a:visited, .my-headline a:hover,
.my-slogan, .my-slogan a, .my-slogan a:link, .my-slogan a:visited, .my-slogan a:hover,
.my-postheader, .my-postheader a, .my-postheader a:link, .my-postheader a:visited, .my-postheader a:hover
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 120%;
}

.my-postcontent a, .my-postcontent a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FA5705;
}

.my-postcontent a:visited, .my-postcontent a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #839BB4;
}

.my-postcontent  a:hover, .my-postcontent a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #FB7C3C;
}

.my-postcontent h1
{
   color: #6C7F93;
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h1 a, .my-postcontent h1 a:link, .my-postcontent h1 a:hover, .my-postcontent h1 a:visited, .my-blockcontent h1 a, .my-blockcontent h1 a:link, .my-blockcontent h1 a:hover, .my-blockcontent h1 a:visited 
{
   font-size: 26px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h2
{
   color: #8D9CAA;
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h2 a, .my-postcontent h2 a:link, .my-postcontent h2 a:hover, .my-postcontent h2 a:visited, .my-blockcontent h2 a, .my-blockcontent h2 a:link, .my-blockcontent h2 a:hover, .my-blockcontent h2 a:visited 
{
   font-size: 22px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h3
{
   color: #FB7C3C;
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h3 a, .my-postcontent h3 a:link, .my-postcontent h3 a:hover, .my-postcontent h3 a:visited, .my-blockcontent h3 a, .my-blockcontent h3 a:link, .my-blockcontent h3 a:hover, .my-blockcontent h3 a:visited 
{
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h4
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h4 a, .my-postcontent h4 a:link, .my-postcontent h4 a:hover, .my-postcontent h4 a:visited, .my-blockcontent h4 a, .my-blockcontent h4 a:link, .my-blockcontent h4 a:hover, .my-blockcontent h4 a:visited 
{
   font-size: 18px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h5
{
   color: #4E6883;
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h5 a, .my-postcontent h5 a:link, .my-postcontent h5 a:hover, .my-postcontent h5 a:visited, .my-blockcontent h5 a, .my-blockcontent h5 a:link, .my-blockcontent h5 a:hover, .my-blockcontent h5 a:visited 
{
   font-size: 15px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h6
{
   color: #A6B7C9;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-postcontent h6 a, .my-postcontent h6 a:link, .my-postcontent h6 a:hover, .my-postcontent h6 a:visited, .my-blockcontent h6 a, .my-blockcontent h6 a:link, .my-blockcontent h6 a:hover, .my-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #my-hmenu-bg, .my-sheet, .my-hmenu a, .my-vmenu a, .my-slidenavigator > a, .my-checkbox:before, .my-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #my-hmenu-bg, .my-sheet, .my-slidenavigator > a, .my-checkbox:before, .my-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 700px;
   color: #303F50;
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .my-postcontent li h1, .my-blockcontent li h1 
{
   margin:1px;
} 
li h2, .my-postcontent li h2, .my-blockcontent li h2 
{
   margin:1px;
} 
li h3, .my-postcontent li h3, .my-blockcontent li h3 
{
   margin:1px;
} 
li h4, .my-postcontent li h4, .my-blockcontent li h4 
{
   margin:1px;
} 
li h5, .my-postcontent li h5, .my-blockcontent li h5 
{
   margin:1px;
} 
li h6, .my-postcontent li h6, .my-blockcontent li h6 
{
   margin:1px;
} 
li p, .my-postcontent li p, .my-blockcontent li p 
{
   margin:1px;
}


.my-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.my-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.my-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.my-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.my-object1558778440
{
    display: block;
    left: 0%;
    margin-left: 0px;

    top: 6px;
    width: 156px;
    height: 102px;
    background-image: url('../images/object1558778440.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 0;
}
.my-object227400126 h1, 
.my-object227400126 h2, 
.my-object227400126 h3, 
.my-object227400126 h4, 
.my-object227400126 h5, 
.my-object227400126 h6, 
.my-object227400126 p, 
.my-object227400126 a, 
.my-object227400126 ul, 
.my-object227400126 ol, 
.my-object227400126 li
{
  line-height: 125%;
}

.my-object227400126
{  
  position: absolute;
  top: 40px;
  left: 97.5%;
  margin-left: -195px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
    background-image: url('../images/object227400126.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
    z-index: 101;
  width: 200px;
  height: 24px;
}





.my-footer .layout-item-0 { color: #1D2630; background: #FDBE12;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

.my-sheet
{
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 100%;
   min-width: 700px;
   max-width: 1920px;
   z-index: auto !important;
}

.my-header
{
   margin:0 auto;
   height: 110px;
   background-image: url('../images/header.jpg');
   background-position: center top;
   background-repeat: no-repeat;
   position: relative;
   z-index: auto !important;
}

.responsive .my-header 
{
   background-image: url('../images/header.jpg');
   background-position: center center;
}

.my-header>.widget 
{
   position:absolute;
   z-index:101;
}

.my-nav
{
   border-bottom:1px dotted #A3B4C8;
   z-index: 100;
   font-size: 0;
   position: absolute;
   margin: 0;
   bottom:   0;
   width: 100%;
   text-align: right;
}

ul.my-hmenu a, ul.my-hmenu a:link, ul.my-hmenu a:visited, ul.my-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.my-hmenu, ul.my-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.my-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.my-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.my-hmenu:after, ul.my-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.my-hmenu, ul.my-hmenu ul 
{
   min-height: 0;
}

ul.my-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.my-nav:before 
{
   content:' ';
}

.my-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.my-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.my-hmenu
{
   float: right;
}

.my-menuitemcontainer
{
   margin:0 auto;
}
ul.my-hmenu>li {
   margin-left: 11px;
}
ul.my-hmenu>li:first-child {
   margin-left: 5px;
}
ul.my-hmenu>li:last-child, ul.my-hmenu>li.last-child {
   margin-right: 5px;
}

ul.my-hmenu>li>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 34px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 34px;
   text-align: center;
}

.my-hmenu a, 
.my-hmenu a:link, 
.my-hmenu a:visited, 
.my-hmenu a.active, 
.my-hmenu a:hover
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   text-align: left;
}

ul.my-hmenu>li>a.active
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.my-hmenu>li>a:visited, 
ul.my-hmenu>li>a:hover, 
ul.my-hmenu>li:hover>a {
   text-decoration: none;
}

ul.my-hmenu>li>a:hover, .desktop ul.my-hmenu>li:hover>a
{
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 17px;
   margin:0 auto;
}
ul.my-hmenu>li>a:hover, 
.desktop-nav ul.my-hmenu>li:hover>a {
   color: #FFFFFF;
   text-decoration: none;
}

ul.my-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -11px;
   width:11px;
   height: 34px;
   background: url('../images/menuseparator.png') center center no-repeat;
}
ul.my-hmenu>li:first-child:before{
   display:none;
}

ul.my-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   padding:0 10px;
   margin:0 auto;
}
ul.my-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 2px;
   margin-bottom: 2px;
}

.desktop-nav ul.my-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.my-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.my-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 24px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 24px;
   color: #6A7D90;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.my-hmenu ul a:link, 
.my-hmenu ul a:visited, 
.my-hmenu ul a.active, 
.my-hmenu ul a:hover
{
   text-align: left;
   line-height: 24px;
   color: #6A7D90;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.my-hmenu li li:after
{
   display: block;
   position: absolute;
   content: ' ';
   height: 0;
   top: -1px;
   left: 0;
   right: 0;
   z-index: 1;
   border-bottom: 1px dotted #C6D1DD;
}

.desktop-nav ul.my-hmenu li li:first-child:before, 
.desktop-nav ul.my-hmenu li li:first-child:after 
{
   display: none;
} 

ul.my-hmenu ul li a:hover, .desktop ul.my-hmenu ul li:hover>a
{
   background: #FFFFFF;
   background: transparent;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
}
.my-hmenu ul a:hover
{
   text-decoration: none;
}

.my-hmenu ul li a:hover
{
   color: #F05305;
}

.desktop-nav .my-hmenu ul li:hover>a
{
   color: #F05305;
}

ul.my-hmenu ul:before
{
   background: #EFF2F5;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   border:1px dotted rgba(207, 216, 226, 0.9);
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.my-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.my-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.my-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
}

.desktop-nav ul.my-hmenu>li>ul
{
   padding: 16px 36px 36px 36px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.my-hmenu ul ul
{
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.my-hmenu ul.my-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.my-hmenu ul.my-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.my-hmenu li li:hover>ul.my-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.my-hmenu li li:hover>ul.my-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.my-hmenu ul ul.my-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 36px 36px 36px 18px;
   margin: -36px 0 0 -5px;
}

.desktop-nav ul.my-hmenu ul ul.my-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 36px 18px 36px 36px;
   margin: -36px -5px 0 0;
}

.desktop-nav ul.my-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.my-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.my-hmenu ul ul:before
{
   border-radius: 3px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop-nav ul.my-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.my-hmenu>li>ul.my-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.my-hmenu>li>ul.my-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.my-hmenu ul ul.my-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop-nav ul.my-hmenu ul ul.my-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

.desktop-nav ul.my-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop-nav ul.my-hmenu>li.ext>a:hover,
.desktop-nav ul.my-hmenu>li.ext:hover>a,
.desktop-nav ul.my-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding: 0 17px 0 17px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #F05305;
}

.desktop-nav ul.my-hmenu>li.ext>a:hover:before,
.desktop-nav ul.my-hmenu>li.ext:hover>a:before,
.desktop-nav ul.my-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: ' ';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #EFF2F5;
   border: 1px Dotted rgba(207, 216, 226, 0.9);
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop-nav ul.my-hmenu>li.ext:hover>ul 
{
   padding-top: 5px;
   /* menu bar padding */
  margin-top: 0;
}

.desktop-nav ul.my-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -1px;
   clip: rect(6px, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.my-hmenu>li.ext>.ext-r,
ul.my-hmenu>li.ext>.ext-l,
ul.my-hmenu>li.ext>.ext-m,
ul.my-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop-nav ul.my-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop-nav ul.my-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop-nav ul.my-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 6px;
   top: 100%;
   padding-top: 1px;
   margin-top: -1px;
/* border width + shadow */}

.desktop-nav ul.my-hmenu>li.ext:hover>.ext-r:before,
.desktop-nav ul.my-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -1px;
   background-color: #EFF2F5;
   border: 1px Dotted rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.my-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 1px;
   margin-right: -1px;
/* only shadow */}

.desktop-nav ul.my-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -1px;
   border-top-left-radius: 0;
   border-top-right-radius: 3px;
}

.desktop-nav ul.my-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 1px;
   margin-left: -1px;
/* only shadow */}

.desktop-nav ul.my-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -1px;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 3px;
}

.desktop-nav ul.my-hmenu>li.ext:hover>.ext-m, 
.desktop-nav ul.my-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 5px;
   top: 100%;
}

.desktop-nav ul.my-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop-nav ul.my-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.my-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.my-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop-nav ul.my-hmenu>li.ext:hover>.ext-m:before, 
.desktop-nav ul.my-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -1px;
   bottom: -1px;
   /* shadow offset */
  background-color: #EFF2F5;
   border: 1px Dotted rgba(207, 216, 226, 0.9);
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.my-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -1px;
   left: 0;
}

.desktop-nav ul.my-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -1px;
   right: 0;
}

.desktop-nav ul.my-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -1px;
   right: -1px
;
}

.my-layout-wrapper
{
   position: relative;
   margin: 20px auto 0 auto;
   z-index: auto !important;
}

.my-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.my-content-layout-row 
{
   display: table-row;
}

.my-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.my-vmenublock
{
   margin:3px;
}
div.my-vmenublock img
{
   margin: 0;
}

.my-vmenublockheader
{
   padding:6px 0;
   margin:0 auto;
}
.my-vmenublockheader .t,
.my-vmenublockheader .t a,
.my-vmenublockheader .t a:link,
.my-vmenublockheader .t a:visited, 
.my-vmenublockheader .t a:hover
{
   color: #FA6114;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 10px;
}

.my-vmenublockcontent
{
   margin:0 auto;
}

ul.my-vmenu, ul.my-vmenu ul
{
   list-style: none;
   display: block;
}

ul.my-vmenu, ul.my-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.my-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

ul.my-vmenu ul
{
   display: none;
   margin: 0;
   padding: 0;
   position: relative;
}

ul.my-vmenu ul.active
{
   display: block;
}

ul.my-vmenu>li>a
{
   padding:0 15px;
   margin:0 auto;
   color: #607E9F;
   min-height: 28px;
   line-height: 28px;
}
ul.my-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index: 1;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   position:relative;
}

ul.my-vmenu li{
   position:relative;
}

ul.my-vmenu>li
{
   margin-top: 2px;
}
ul.my-vmenu>li>ul
{
   padding: 0;
   margin-top: 2px;
   margin-bottom: 2px;
}
ul.my-vmenu>li:first-child
{
   margin-top:0;
}

ul.my-vmenu>li>a:hover, ul.my-vmenu>li>a.active:hover
{
   padding:0 15px;
   margin:0 auto;
}
ul.my-vmenu>li>a:hover, ul.my-vmenu>li>a.active:hover
{
   text-decoration: none;
}

ul.my-vmenu a:hover, ul.my-vmenu a.active:hover 
{
   color: #FA5705;
}

ul.my-vmenu>li>a.active:hover>span.border-top, ul.my-vmenu>li>a.active:hover>span.border-bottom 
{
   background-color: transparent;
}

ul.my-vmenu>li>a.active
{
   padding:0 15px;
   margin:0 auto;
   text-decoration: none;
   color: #FA5705;
}

ul.my-vmenu>li>ul:before
{
   background: #DCE3EA;
   background: transparent;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

ul.my-vmenu li li a
{
   margin:0 auto;
   position: relative;
}
ul.my-vmenu ul li
{
   margin: 0;
   padding: 0;
}
ul.my-vmenu li li{
   position: relative;
   margin-top: 0;
}

ul.my-vmenu ul a
{
   display: block;
   position: relative;
   min-height: 24px;
   overflow: visible;
   padding: 0;
   padding-left: 27px;
   padding-right: 27px;
   z-index: 0;
   line-height: 24px;
   color: #6C7F93;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.my-vmenu ul a:visited, ul.my-vmenu ul a.active:hover, ul.my-vmenu ul a:hover, ul.my-vmenu ul a.active
{
   line-height: 24px;
   color: #6C7F93;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   margin-left: 0;
   margin-right: 0;
}

ul.my-vmenu ul ul a
{
   padding-left: 54px;
}
ul.my-vmenu ul ul ul a
{
   padding-left: 81px;
}
ul.my-vmenu ul ul ul ul a
{
   padding-left: 108px;
}
ul.my-vmenu ul ul ul ul ul a
{
   padding-left: 135px;
}

ul.my-vmenu ul>li>a:hover, ul.my-vmenu ul>li>a.active:hover
{
   background: #EFF2F5;
   background: rgba(239, 242, 245, 0.8);
   margin:0 auto;
}
ul.my-vmenu ul li a:hover, ul.my-vmenu ul li a.active:hover
{
   text-decoration: none;
   color: #F05305;
}

ul.my-vmenu ul a:hover:after
{
   background-position: center ;
}
ul.my-vmenu ul a.active:hover:after
{
   background-position: center ;
}
ul.my-vmenu ul a.active:after
{
   background-position: bottom ;
}

ul.my-vmenu ul>li>a.active
{
   margin:0 auto;
}
ul.my-vmenu ul a.active, ul.my-vmenu ul a:hover, ul.my-vmenu ul a.active:hover
{
   text-decoration: none;
   color: #FA5705;
}

.my-block
{
   margin:3px;
}
div.my-block img
{
   border: none;
   margin: 0;
}

.my-blockheader
{
   padding:6px 5px;
   margin:0 auto 2px;
}
.my-blockheader .t,
.my-blockheader .t a,
.my-blockheader .t a:link,
.my-blockheader .t a:visited, 
.my-blockheader .t a:hover
{
   color: #758799;
   font-size: 20px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   margin: 0 5px;
}

.my-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #303F50;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}
.my-blockcontent table,
.my-blockcontent li, 
.my-blockcontent a,
.my-blockcontent a:link,
.my-blockcontent a:visited,
.my-blockcontent a:hover
{
   color: #303F50;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.my-blockcontent p
{
   margin: 0 5px;
}

.my-blockcontent a, .my-blockcontent a:link
{
   color: #FB7C3C;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.my-blockcontent a:visited, .my-blockcontent a.visited
{
   color: #A9BACB;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.my-blockcontent a:hover, .my-blockcontent a.hover
{
   color: #FA5705;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.my-block ul>li:before
{
   content:url('../images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .my-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.my-block li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   color: #4E6883;
   margin: 5px 0 0 10px;
}

.my-block ul>li, .my-block ol
{
   padding: 0;
}

.my-block ul>li
{
   padding-left: 12px;
}

.my-breadcrumbs
{
   margin:0 auto;
}

a.my-button,
a.my-button:link,
a:link.my-button:link,
body a.my-button:link,
a.my-button:visited,
body a.my-button:visited,
input.my-button,
button.my-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 28px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.my-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .my-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.my-block select 
{
   width:96%;
}

input.my-button
{
   float: none !important;
}

.my-button.active, .my-button.active:hover
{
   background: #A1ADBA;
   background: linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   background: -webkit-linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   background: -moz-linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   background: -o-linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   background: -ms-linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   background: linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   -svg-background: linear-gradient(top, #CDD4DA 0, #728597 100%) no-repeat;
   border:1px solid #8A99A8;
   padding:0 20px;
   margin:0 auto;
}
.my-button.active, .my-button.active:hover {
   color: #FFFFFF !important;
}

.my-button.hover, .my-button:hover
{
   background: #8A99A8;
   background: transparent;
   border:1px solid #A1ADBA;
   padding:0 20px;
   margin:0 auto;
}
.my-button.hover, .my-button:hover {
   color: #FFFFFF !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #B9C2CB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 100%;
   padding: 4px 0;
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.my-error, textarea.my-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.my-error, textarea.my-error {
   color: #3D5166 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.my-search input[type="text"]
{
   background: #FFFFFF;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   border-radius:6px;
   border:1px solid #CCD6E0;
   margin:0 auto;
   width: 100%;
   padding: 3px 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #7D2B03 !important;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.my-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.my-search input
{
   top:0;
   right:0;
}

form.my-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.my-search input[type="submit"]
{
   margin:0 auto;
   color: #FFFFFF !important;
   position:absolute;
   display:block;
   left: auto;
   border:none;
   background:url('../images/searchicon.png') center center no-repeat;
   width:24px;
   height: 100%;
   padding:0;
}

label.my-checkbox:before
{
   background: #F9FAFB;
   background: linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -moz-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -o-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -ms-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   -svg-background: linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #9CAFC4;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.my-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.my-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.my-checkbox.active:before
{
   background: #FC905A;
   background: linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   background: -webkit-linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   background: -moz-linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   background: -o-linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   background: -ms-linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   background: linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   -svg-background: linear-gradient(top, #FB7532 0, #FCA478 40%, #FCA77D 50%, #FCA77D 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #D74B04;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.my-checkbox.hovered:before
{
   background: #D9DEE3;
   background: linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -webkit-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -moz-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -o-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -ms-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   -svg-background: linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #7993AF;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.my-radiobutton:before
{
   background: #F9FAFB;
   background: linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -moz-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -o-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: -ms-linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   background: linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   -svg-background: linear-gradient(top, #B2C1D1 0, #E6EAF0 40%, #ECF0F4 50%, #ECF0F4 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #9CAFC4;
   margin:0 auto;
   width:20px;
   height:20px;
}
label.my-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 20px;
   display: inline-block;
}

.my-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.my-radiobutton.active:before
{
   background: #B9C2CB;
   background: linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   background: -webkit-linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   background: -moz-linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   background: -o-linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   background: -ms-linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   background: linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   -svg-background: linear-gradient(top, #9EABB7 0, #CAD1D8 40%, #CDD4DA 50%, #CDD4DA 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #5A7796;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

label.my-radiobutton.hovered:before
{
   background: #D9DEE3;
   background: linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -webkit-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -moz-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -o-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: -ms-linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   background: linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   -svg-background: linear-gradient(top, #BCC4CD 0, #EAEDF0 40%, #EDF0F2 50%, #EDF0F2 100%) no-repeat;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   border-radius:5px;
   -webkit-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   -moz-box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   box-shadow:0 0 2px 1px rgba(0, 0, 0, 0.35);
   border:1px solid #7993AF;
   margin:0 auto;
   width:20px;
   height:20px;
   display: inline-block;
}

.my-post
{
   padding:5px;
}
a img
{
   border: 0;
}

.my-article img, img.my-article, .my-block img, .my-footer img
{
   margin: 7px 7px 7px 7px;
}

.my-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.my-article table, table.my-article
{
   border-collapse: collapse;
   margin: 1px;
}

.my-post .my-content-layout-br
{
   height: 0;
}

.my-article th, .my-article td
{
   padding: 2px;
   border: solid 1px #5A7796;
   vertical-align: top;
   text-align: left;
}

.my-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 7px 7px 7px 7px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.my-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.my-postheader
{
   color: #4E6883;
   margin: 5px 10px;
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.my-postheader a, 
.my-postheader a:link, 
.my-postheader a:visited,
.my-postheader a.visited,
.my-postheader a:hover,
.my-postheader a.hovered
{
   font-size: 24px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.my-postheader a, .my-postheader a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7F41;
}

.my-postheader a:visited, .my-postheader a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #708BA9;
}

.my-postheader a:hover,  .my-postheader a.hovered
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #FB7C3C;
}

.my-postheadericons,
.my-postheadericons a,
.my-postheadericons a:link,
.my-postheadericons a:visited,
.my-postheadericons a:hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #4E6883;
}

.my-postheadericons
{
   display:inline-block;
   padding: 1px;
   margin: 0 0 0 10px;
}

.my-postheadericons a, .my-postheadericons a:link
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #FB722D;
}

.my-postheadericons a:visited, .my-postheadericons a.visited
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   color: #587493;
}

.my-postheadericons a:hover, .my-postheadericons a.hover
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: underline;
   color: #E65005;
}

.my-postdateicon:before
{
   content:url('../images/postdateicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .my-postdateicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.my-postauthoricon:before
{
   content:url('../images/postauthoricon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .my-postauthoricon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.my-postediticon:before
{
   content:url('../images/postediticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .my-postediticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.my-postcontent ul>li:before,  .my-post ul>li:before,  .my-textblock ul>li:before
{
   content:url('../images/postbullets.png');
   margin-right:10px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .my-postcontent ul>li:before, .opera   .my-post ul>li:before, .opera   .my-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.my-postcontent li, .my-post li, .my-textblock li
{
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #303F50;
   margin: 3px 0 0 11px;
}

.my-postcontent ul>li, .my-post ul>li, .my-textblock ul>li, .my-postcontent ol, .my-post ol, .my-textblock ol
{
   padding: 0;
}

.my-postcontent ul>li, .my-post ul>li, .my-textblock ul>li
{
   padding-left: 17px;
}

.my-postcontent ul>li:before,  .my-post ul>li:before,  .my-textblock ul>li:before
{
   margin-left: -17px;
}

.my-postcontent ol, .my-post ol, .my-textblock ol, .my-postcontent ul, .my-post ul, .my-textblock ul
{
   margin: 1em 0 1em 11px;
}

.my-postcontent li ol, .my-post li ol, .my-textblock li ol, .my-postcontent li ul, .my-post li ul, .my-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.my-postcontent li, .my-post li, .my-textblock li
{
   margin: 3px 0 0 0;
}

.my-postcontent ol>li, .my-post ol>li, .my-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.my-postcontent ul>li, .my-post ul>li, .my-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #EFF2F5 url('../images/postquote.png') no-repeat scroll;
   padding:10px 10px 10px 47px;
   margin:10px 0 0 25px;
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .my-postcontent blockquote a, .my-blockcontent blockquote a, .my-footer blockquote a,
blockquote a:link, .my-postcontent blockquote a:link, .my-blockcontent blockquote a:link, .my-footer blockquote a:link,
blockquote a:visited, .my-postcontent blockquote a:visited, .my-blockcontent blockquote a:visited, .my-footer blockquote a:visited,
blockquote a:hover, .my-postcontent blockquote a:hover, .my-blockcontent blockquote a:hover, .my-footer blockquote a:hover
{
   color: #0D1216;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.my-postcontent blockquote p,
.my-blockcontent blockquote p,
.my-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.my-footer
{
   background: #FBBD13;
   border-top:1px dotted #9CAFC4;
   padding:25px;
   margin:20px auto 0;
   position: relative;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
   text-align: center;
    border: 1px solid red;
}

.my-footer a,
.my-footer a:link,
.my-footer a:visited,
.my-footer a:hover,
.my-footer td, 
.my-footer th,
.my-footer caption
{
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 175%;
}

.my-footer p 
{
   padding:0;
   text-align: center;
}

.my-footer a,
.my-footer a:link
{
   color: #3B4E63;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.my-footer a:visited
{
   color: #303F50;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.my-footer a:hover
{
   color: #9B3603;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.my-footer img
{
   border: none;
   margin: 0;
}

.my-rss-tag-icon
{
   background:  url('../images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:25px;
   min-width:25px;
   display: inline-block;
   text-indent: 28px;
   background-position: left center;
}

.my-rss-tag-icon:empty
{
   vertical-align: middle;
}

.my-footer ul>li:before
{
   content:url('../images/footerbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .my-footer ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.my-footer li
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #FEE1D2;
}

.my-footer ul>li, .my-footer ol
{
   padding: 0;
}

.my-footer ul>li
{
   padding-left: 13px;
}



img.my-lightbox
{
   cursor: pointer;
}

#my-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#my-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.my-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.my-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('../images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.my-content-layout .my-sidebar1
{
   border-right:1px dotted #A3B4C8;
   margin:0 auto;
   width: 200px;
}

.my-content-layout .my-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */

/* End Additional CSS Styles */
