/* Created by Artisteer v4.0.0.58475 */

.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.my-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.my-header
{
   z-index: 1;
}

.my-hmenu>li, .my-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.my-hmenu, ul.my-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
ul.my-hmenu>li:first-child {
   padding-right:11px;
}
ul.my-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='my-hmenu-separator');
}
ul.my-hmenu>li>span.my-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -11px;
   width: 11px;
   height: 34px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.my-hmenu>li:first-child>span.my-hmenu-separator
{
   display:none;
}

ul.my-hmenu ul, .desktop-nav ul.my-hmenu>li.ext:hover>a{
   background-color: #EFF2F5 !important;
}

.my-content-layout, .my-content-layout-row, .my-layout-cell 
{
   display: block;
   zoom: 1;
}
.my-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

ul.my-vmenu, ul.my-vmenu ul, ul.my-vmenu li{
   zoom: 1;
}

ul.my-vmenu ul 
{
   background-color: transparent;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.my-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.my-search div>input[type="text"]
{
   width: 100%;
}

* html form.my-search>input[type="text"] 
{
   margin :0;
}

.my-postheadericons span{
   zoom: 1;
}
.my-postcontent {
   height: 1%;
}

.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.my-sidebar1
{
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='my-sidebar1-bg' + (className.indexOf('my-sidebar1-fix') == -1 ? '' : ' my-sidebar1-bg-fix' ));
}

.my-sidebar1-bg 
{
   border-right:1px dotted #A3B4C8;
   position:absolute;
   z-index:-2;
   direction: ltr;
   left:  0;
   bottom:0;
   top:0;
   width: 200px;
   overflow:hidden;
   display:block;
}

.my-content 
{
   width: auto;
   float:none;
}

